* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.App {
  text-align: center;
  margin: 1.5rem;
}
.title,
.counter {
  color: #ba5d2c;
}
#character,
#word {
  font-size: 35px;
  font-weight: 500;
  color: rgb(164, 154, 46);
}
